*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.titulo{
  margin-top: 60px;
  justify-content: center;
  display: flex;
  color: #2b2b2b;
  font-size: 40px;
  align-items: center;
}
.titulo img{
  margin-left: 20px;
  width: 80px;
  height:fit-content;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
form input{
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form button{
  transition: ease 0.4s;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(252, 255, 56);
  border-radius: 20px 20px 20px 0px;
}
form button:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.541);
  transition: ease 0.4s;
  cursor: pointer;
}
.resultado{
  margin-top: 20px;
  font-size: 40px;
}
.resultado-p{
  font-size: 30px;
  text-align: center;
}